In [115]:
import pandas as pd
from tqdm import tqdm
import os
import numpy as np

# Build Graph

In [70]:
df = pd.read_csv("Data/dataset/Distance_Return.csv")

In [71]:
df = df.drop(["Unnamed: 0"], axis=1)

In [72]:
a = (df>1.05)
b = (df<1.3)
c = a & b

In [73]:
companies = list(df.columns)

In [175]:
edge_list_x = []
edge_list_y = []
weight = []
for i in tqdm(range(len(companies))):
    for j in range(len(companies)):
        if(c.iloc[i][j]):
            x.append(i)
            y.append(j)
            weight.append(df.iloc[i][j])

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 500/500 [00:27<00:00, 18.22it/s]

In [128]:
def min_max_scaling(input_list):
    min_value = min(input_list)
    max_value = max(input_list)

    scaled_list = [(x - min_value) / (max_value - min_value) for x in input_list]

    return scaled_list, min_value, max_value

In [129]:
scaled_edge_weight, _, _ = min_max_scaling(weight)

In [130]:
node_indices = [i for i in range(len(companies))]
node_dict = {i:j for i,j in zip(node_indices, companies)}
reverse_node_dict = {i:j for i,j in zip(companies, node_indices)}

# Accumulate temporal data - Closing price only

In [103]:
path = "./Data/dataset/One_Year_Daily_Data/"

In [151]:
closing_price_matrix = np.zeros((500, 237))
min_max_dict = {}

for file in os.listdir(path):
    closing_price = list(pd.read_csv(path + file)["close"])[:237]
    company_name = file.split("_")[0]
    try:
        index = reverse_node_dict[company_name]
        scaled_closing_price, minn, maxx = min_max_scaling(closing_price)
        min_max_dict[index] = (minn, maxx)
        closing_price_matrix[index] = scaled_closing_price
    except:
        print(company_name, len(closing_price))
        continue

VLTO 37
KVUE 142

In [174]:
X = []
Y = []
window_size = 30
for i in range(207):
    X.append(closing_price_matrix[:,i:i+window_size])
    Y.append(closing_price_matrix[:,i+window_size])

# Accumulate temporal data - All features

In [177]:
path = "./Data/dataset/One_Year_Daily_Data/"

In [178]:
pd.read_csv("./Data/dataset/One_Year_Daily_Data/AAL_daily_data.csv")

     Year  Month  Day   open  close   high    low  adjclose    volume
0    2022     11   28  14.34  13.83  14.44  13.82     13.83  21313800
1    2022     11   29  13.89  14.14  14.16  13.83     14.14  17335300
2    2022     11   30  14.12  14.43  14.45  13.93     14.43  21241800
3    2022     12    1  14.46  13.98  14.57  13.93     13.98  26519600
4    2022     12    2  13.82  13.97  13.98  13.67     13.97  24124300
..    ...    ...  ...    ...    ...    ...    ...       ...       ...
245  2023     11   17  12.27  12.29  12.31  12.14     12.29  25699200
246  2023     11   20  12.23  12.40  12.45  12.17     12.40  23878800
247  2023     11   21  12.30  12.13  12.33  12.05     12.13  24497700
248  2023     11   22  12.37  12.31  12.77  12.17     12.31  40937600
249  2023     11   24  12.39  12.31  12.48  12.25     12.31  14803800

[250 rows x 9 columns]

In [ ]:
closing_price_matrix = np.zeros((500, 237, 4))
min_max_dict = {}

for file in os.listdir(path):
    closing_price = list(pd.read_csv(path + file)["close"])[:237]
    company_name = file.split("_")[0]
    try:
        index = reverse_node_dict[company_name]
        scaled_closing_price, minn, maxx = min_max_scaling(closing_price)
        min_max_dict[index] = (minn, maxx)
        closing_price_matrix[index] = scaled_closing_price
    except:
        print(company_name, len(closing_price))
        continue